*{
    box-sizing: border-box;
    /* Box-sizing: https://www.w3schools.com/css/css3_box-sizing.asp */
}
body{
    background-image: url('https://i.postimg.cc/K814q0V6/slot-machine-159972-640.png');
    background-repeat: no-repeat;
    background-position-x: center;
}

h1{
    font-family:sans-serif;
    text-align: center;
}
#container{
    background-color: whitesmoke;
    width: fit-content;
    margin: auto;
}

#gameboard,.ui-wrapper{
    display: flex;
    margin: auto;
    flex-wrap:wrap;
    /* flex-wrap will force additional cells to a new line after any squares on the first row exceed 450px */
    width: 450px;
    /* the width of the gameboard */
    justify-content: center;
}
.square {
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    font-weight: bolder;
    text-align-last: center;
    width: 30%;
    height: 125px;
    margin: 5px;
    border: 5px solid rgb(89, 86, 97);
    background-color: white;
}
.ui-wrapper button {
    margin: 10px 5px;
}